.home-container {
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    padding-top: 60px;
    line-height: 1.6;
}

.home-container h1,
.home-container h2,
.home-container h3,
.highlights h2 {
    color: #222;
    text-align: center;
}

.home-container p,
.home-container ul {
    margin: 10px 0;
    text-align: center;
}

.home-container ul {
    padding-left: 20px;
    /* Espaçamento interno da lista */
}

.centered-list {
    list-style-type: none;
    padding: 10;
    text-align: center;
}

.centered-list li {
    display: inline-block;
    margin: 0 20px;
}


.highlights {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.highlights li {
    margin: 20px;
}

.highlight-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 147, 76, 0.2);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Espaço entre as imagens */
    margin: 20px 0;
    /* Margem superior e inferior */
    justify-content: center;
}

.gallery-image {
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}